.full-width {
  width: 100%;
  margin-bottom: 4px;
}

mat-dialog-content {
  min-width: 340px;
  padding-top: 8px !important;
}

mat-dialog-actions button mat-spinner {
  display: inline-block;
}

@media (max-width: 500px) {
  mat-dialog-content {
    min-width: unset;
  }
}
